@model ShoeApp.Models.Product

@{
    ViewData["Page"] = "Sản phẩm";
    ViewData["Title"] = "Thêm mới";
}
<!-- include libraries(jQuery, bootstrap) -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> @* Sử dụng*@
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> @* Sử dụng*@

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> @* Sử dụng*@
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script> @* Sử dụng*@
<form asp-action="Create">

    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="multisteps-form__content">
            <div class="row mt-3">
                <div class="col-12 col-sm-12">
                    <label>Tên sản phẩm </label>
                    <input class="multisteps-form__input form-control" type="text" asp-for="ProductName" />
                    <input hidden type="text" asp-for="ProductCode" value="1" />
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-16 col-sm-6">
                    <label>Category</label>
                    <select asp-for="CategoryId" id="choices-category" class="form-control" asp-items="@(new SelectList(ViewBag.ListCategoryitems, "Value", "Text"))">
                    </select>

                </div>
                <div class="col-16 col-sm-6">
                    <label>Brand</label>
                    <select asp-for="BrandId" id="choices-sizes" class="form-control" asp-items="@(new SelectList(ViewBag.ListBranditems, "Value", "Text"))">
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label class="mt-4 form-label">Tags</label>
                    <select class="form-control" name="choices-tags" id="choices-tags" multiple>
                        <option value="Choice 1" selected>In Stock</option>
                        <option value="Choice 2">Out of Stock</option>
                        <option value="Choice 3">Sale</option>
                        <option value="Choice 4">Black Friday</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="mt-4 form-label">Tags1</label>
                    <input class="form-control" name="tags" id="choices-tags1" data-color="dark" type="text" value="vuejs, angular, react, laravel" placeholder="Enter something" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="multisteps-form__content">
                        <div class="row mt-3">
                            <div class="col-12">
                                <label>Product images</label>
                                <div action="/Admin/Product/UploadImage" class="form-control dropzone" id="productImg"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label class="mt-4">Description</label>
                    <textarea asp-for="Long_Description" id="summernote"></textarea>

                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <span asp-validation-for="Long_Description" class="text-danger"></span>
    <br />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<script src="~fileAdmin\summernote\summernote-bs4.min.js"></script>       @* Sử dụng*@
<link rel="stylesheet" href="~fileAdmin\summernote\summernote-bs4.min.css" />      @* Sử dụng + tải file ~wwwroot\lib\summernote\ *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    /*sử dụng*/
    $('#summernote').summernote({
        placeholder: 'Nhập nội dung',
        tabsize: 5,
        height: 300,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script src="~/fileAdmin/js/plugins/choices.min.js"></script>
<script src="~/fileAdmin/js/plugins/dropzone.min.js"></script>
<script src="~/fileAdmin/js/plugins/quill.min.js"></script>
<script src="~/fileAdmin/assets/js/plugins/multistep-form.js"></script>
<script>

    if (document.getElementById('edit-deschiption')) {
        var quill = new Quill('#edit-deschiption', {
            theme: 'snow' // Specify theme in configuration
        });
    };

    if (document.getElementById('choices-category')) {
        var element = document.getElementById('choices-category');
        const example = new Choices(element, {
            searchEnabled: false
        });
    };

    if (document.getElementById('choices-sizes')) {
        var element = document.getElementById('choices-sizes');
        const example = new Choices(element, {
            searchEnabled: false
        });
    };

    if (document.getElementById('choices-currency')) {
        var element = document.getElementById('choices-currency');
        const example = new Choices(element, {
            searchEnabled: false
        });
    };

    if (document.getElementById('choices-tags')) {
        var tags = document.getElementById('choices-tags');
        const examples = new Choices(tags, {
            removeItemButton: true
        });

        examples.setChoices(
            [{
                value: 'One',
                label: 'Expired',
                disabled: true
            },
            {
                value: 'Two',
                label: 'Out of Stock',
                selected: true
            }
            ],
            'value',
            'label',
            false,
        );
    }
    if (document.getElementById('choices-tags1')) {
        var tags = document.getElementById('choices-tags1');
        const examples = new Choices(tags, {
            removeItemButton: true
        });

        examples.setChoices(
            [{
                value: 'One',
                label: 'Expired',
                disabled: true
            },
            {
                value: 'Two',
                label: 'Out of Stock',
                selected: true
            }
            ],
            'value',
            'label',
            false,
        );
    }

</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
